:root {
  --primary-color: #5787b8;
  --primary-color-dark: #356995;
  --secondary-color: #f6f4f7;

  --primary-border: #d4d4d4;
  --primary-border-dark: #1f4362;
  --secondary-border: #e3e3e3;
  --secondary-border-dark: #d4d4d4;

  --primary-hover-text: #1f4362;
  --secondary-text: #939393;
  --secondary-text-dark: #636363;
  --text-black: #363636;
  --notif-color: #7aa347;
  --notif-color-dark: #52712d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header-main {
  width: 100vw; height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  width: 100%; height: 50px;
  padding: 0 20px;
  display: flex; flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
}

.nav-left {
  width: max-content; height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  color: #fff;
  font-size: 1.8rem;
}

.btn-navbar-toggle {
  color: #fff;
  font-size: 1.5rem;
  background-color: var(--primary-color-dark);
  cursor: pointer;
  transition: background .3s ease;
  display: none;
  height: 100%;
  padding: 0 10px;
  align-items: center;
}

#btnNavbarToggle { display: none; }

.btn-navbar-toggle:hover {
  background-color: var(--primary-border-dark);
}

.nav-list {
  margin-left: 10px;
  height: 100%;
  display: flex; flex-direction: row;
  align-items: center;
}

.nav-link {
  color: #fff;
  height: 100%;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  transition: background .3s ease-in-out;
}

.nav-link:hover {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-dark);
}

.nav-link.active {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-dark);
}

.msg-notif {
  background-color: var(--notif-color);
  padding: 2px 6px;
  border-radius: 999px;
  margin-left: 8px;
  font-size: .7rem;
  border: 1px solid var(--notif-color-dark);
}

.nav-list-secondary {
  display: flex; flex-direction: row;
  align-items: center;
}

.search-group {
  width: auto;
  height: auto;
  position: relative;
}

.input-search {
  width: 140px;
  height: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--primary-border-dark);
  outline: 0;
}

.search-icon {
  background-color: transparent;
  position: absolute;
  color: var(--secondary-text);
  padding: 0 6px;
  border: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.upload-btn {
  background-color: var(--primary-color-dark);
  padding: 5px 8px;
  border: 1px solid var(--primary-border-dark);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: .8rem;
  cursor: pointer;
}

.upload-btn > i {
  font-size: .8rem;
  opacity: .7;
  margin-left: 5px;
}

.user-avatar-xs {
  min-width: 30px; height: 30px;
  border-radius: 3px;
  border: 2px solid var(--primary-border-dark);
  display: none;
}

/** End navbar **/
/*****************/
/** Main content **/

.main-content {
  max-width: 80%; min-height: 100vh;
  display: grid;
  grid-template-columns: min(300px) auto min(250px);
  margin: 0 auto;
}

/** Aside left **/

.aside-left {
  max-height: calc(100vh - 50px);
  background-color: var(--secondary-color);
  border-left: 1px solid var(--secondary-border);
  border-right: 1px solid var(--secondary-border);
  display: flex; flex-direction: column;
  position: sticky;
  top: 50px;
  padding: 25px 20px;
  gap: 20px;
}

.user-panel {
  background-color: #fff;
  width: 280px; height: auto;
  align-self: end;
  border: 1px solid var(--secondary-border);
  border-right: 0;
  position: relative;
  right: -21px;
  display: flex; flex-direction: column;
  padding: 12px;
  gap: 10px;
}

.info-user {
  display: flex; flex-direction: row;
  gap: 10px;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 10px;
}

.user-chart {
  display: flex; flex-direction: column;
  gap: 5px;
}

.user-name {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.1rem;
}

.user-name:hover {
  text-decoration: underline;
}

.views-profile {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.views-profile > i {
  color: var(--primary-color-dark);
  font-size: 1rem;
}

.num-views {
  color: #000;
  font-weight: 700;
}

.avatar-user {
  width: 50px; height: 50px;
  object-fit: cover;
  border-radius: 2px;
  border: 1px solid var(--secondary-border);
}

.notifications {
  display: flex; flex-direction: column;
  gap: 5px;
}

.new-notification {
  color: var(--notif-color);
  font-weight: 600;
  font-size: .9rem;
  transition: color .3s ease;
}

.new-notification:hover {
  text-decoration: underline;
  color: var(--notif-color-dark);
}

.img-tag-container {
  display: flex; flex-direction: row;
  gap: 4px;
  justify-content: space-start;
  position: relative;
  left: 20px;
  margin-top: 8px;
}

.img-tag {
  width: 35px; height: 30px;
  border-radius: 2px;
}

.invite-friends {
  display: flex; flex-direction: column;
  gap: 8px;
}

.header-section, .header-section-chat, .header-timeline {
  font-weight: 700;
  border-bottom: 1px solid var(--primary-border);
  padding-bottom: 8px;
  display: flex; flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--text-black);
  margin-bottom: 15px;
}

.header-section-chat {
  border-bottom: 0;
  margin-bottom: 0;
}

.subtitle-header {
  font-size: .9rem;
  color: var(--primary-color-dark);
  font-weight: 600;
  transition: color .3s ease-in;
}

.subtitle-header:hover {
  text-decoration: underline;
  color: var(--primary-border-dark);
}

.num-invitations {
  font-size: 0.9rem;
  color: var(--secondary-text-dark);
}

.invitation-form {
  display: flex; flex-direction: row;
  gap: 8px;
}

.input-invitation {
  padding: 6px 4px;
  width: 130px;
  border: 1px solid var(--secondary-border-dark);
  outline: 0;
}

.btn-invitation {
  padding: 6px;
  width: 100%;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-border-dark);
  border-radius: 3px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  transition: background .3s ease;
}

.btn-invitation:hover {
  background-color: var(--primary-color-dark);
}

.events-list {
  display: flex; flex-direction: column;
  gap: 15px;
}

.event-info {
  display: flex; flex-direction: row;
  gap: 10px;
  align-items: center;
  overflow: hidden;
}

.event-img {
  max-width: 50px; height: 40px;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--secondary-border-dark);
  border-radius: 2px;
}

.event-title {
  color: var(--primary-color-dark);
  font-weight: 700;
  font-size: 0.97rem;
  text-overflow: ellipsis;
  transition: color .3s ease-in;
}

.event-title:hover { color: var(--primary-hover-text); }

.event-date { color: var(--secondary-text-dark); }

.calendar-events {
  display: flex; flex-direction: column;
  gap: 10px;
}

.remember-event {
  color: var(--secondary-text-dark);
}

.day-event {
  color: var(--text-black);
  font-weight: bold;
}

.pending-event {
  display: flex; flex-direction: column;
  gap: 5px;
}

/** End aside left **/
/********************/
/** Middle column **/

.middle-col {
  display: flex; flex-direction: column;
  gap: 20px;
  padding: 75px 30px;
  position: relative;
}

.form-post-container {
  display: flex; flex-direction: column;
}

.form-general-group {
  display: flex; flex-direction: column;
  gap: 8px;
  position: relative;
}

.textarea-group {
  width: 100%; height: 50px;
  display: flex; flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  border: 1px solid var(--secondary-border-dark);
  border-radius: 3px;
  padding: 0 20px;
}

.textarea-group > i {
  color: var(--secondary-text);
  opacity: .7;
}

.textarea-post {
  width: 100%; height: 25px;
  resize: none;
  outline: 0;
  border: 0;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-text-dark);
  overflow: hidden;
}

.textarea-post::placeholder {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  opacity: .7;
}

.arrow-textarea {
  width: 10px; height: 10px; 
  border: 1px solid var(--secondary-border-dark); 
  background: #fff;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: -5px;
  top: 20px;
  z-index: 1;
}

.btn-form-post {
  display: flex; flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.last-state {
  font-size: .9rem;
  color: var(--secondary-text-dark);
}

.time-state {
  opacity: .7;
}

.btn-post {
  padding: 6px 20px;
  width: auto; height: auto;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-border-dark);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: background .3s ease;
}

.btn-post:hover {
  background-color: var(--primary-color-dark);
}

.timeline-friend-section {
  display: flex; flex-direction: column;
}

.header-timeline { font-size: 1.3rem; }

.timeline-friends {
  display: flex; flex-direction: column;
  gap: 20px;
}

.post-friend-container {
  display: flex; flex-direction: row;
  border-bottom: 1px solid var(--secondary-border-dark);
  padding-bottom: 20px;
  gap: 15px;
}

.content-post-friend {
  display: flex; flex-direction: column;
  gap: 6px;
}

.avatar-friend-container {
  min-width: 70px; height: 70px;
  position: relative;
}

.avatar-friend {
  width: 100%; height: 100%;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
}

.status-friend {
  width: 10px; height: 10px;
  background-color: var(--notif-color);
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: -4px;
  outline: 2px solid #fff;
}

.text-state {
  color: var(--text-black);
  display: grid;
  grid-template-columns: max-content, minmax(max-content, 1fr);
  gap: 10px;
}

.post-author {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1rem;
  transition: color .3s ease;
}

.post-author:hover {
  color: var(--primary-border-dark);
  text-decoration: underline;
}

.post-time {
  font-size: .9rem;
  color: var(--secondary-text-dark);
}

.friend-comment {
  font-size: .96rem;
  color: var(--text-black);
}

.post-notif {
  color: var(--notif-color);
  font-size: .96rem;
  cursor: pointer;
  transition: color .3s ease;
}

.author-comment {
  color: var(--secondary-text-dark);
  font-weight: 700;
  opacity: .8;
}

.post-notif:hover {
  color: var(--notif-color-dark);
  text-decoration: underline;
}

.uploaded-photos {
  display: flex; flex-direction: column;
  gap: 8px;
}

.uploaded-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 75px));
  gap: 10px;
  padding-left: 15px;
}

.uploaded-gallery a > img {
  width: 85px; height: 80px;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
}


/** End middle column **/
/******************/
/** Aside right **/

.aside-right {
  display: flex; flex-direction: column;
  position: sticky;
  height: calc(100vh - 50px);
  top: 50px;
  padding: 25px 20px;
  gap: 20px;
}

.add-friends {
  display: flex; flex-direction: column;
}

.descript-section {
  font-size: .9rem;
  color: var(--secondary-text);
  margin-bottom: 10px;
}

.btn-search-friend {
  border: 1px solid var(--secondary-border-dark);
  width: max-content; height: 30px;
  border-radius: 3px;
  position: relative;
  display: grid;
  grid-template-columns: 30px auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  font-size: .9rem;
}

.btn-search-friend > i {
  background-color: #ffb655;
  border-right: 1px solid var(--secondary-border-dark);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-search-friend > span { padding: 6px; }
.btn-search-friend > i { color: #fff; }

.chat-list {
  display: flex; flex-direction: column;
}

.title-chat {
  display: flex; flex-direction: row;
  gap: 5px;
  align-items: center;
}

.status-user {
  width: 12px; height: 12px;
  background-color: var(--notif-color);
  border-radius: 50%;
  border: 1px solid var(--notif-color-dark);
}

.num-onlines { color: var(--secondary-text-dark); }

.users-online-container {
  display: flex; flex-direction: column;
  gap: 10px;
  width: 100%; height: 300px;
  border: 1px solid var(--secondary-border-dark);
  padding: 8px 10px;
  border-radius: 3px;
}

.input-search-friends {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--secondary-border-dark);
  outline: 0;
  font-size: 1rem;
}

.users-online-list {
  width: 100%; height: 100%;
  display: flex; flex-direction: column;
  padding: 4px 0;
  font-size: .9rem;
  overflow-y: scroll;
}

.user-on-cont {
  display: grid;
  grid-template-columns: 10px max-content;
  align-items: center;
}

.user-on-cont > .status-user {
  width: 8px; height: 8px;
}

.user-on-cont > i {
  font-size: .6rem;
  color: var(--notif-color);
}

.user-on-cont:hover {
  background-color: var(--secondary-color);
}

.user-on {
  color: var(--text-black);
  padding: 6px;
  width: 100%;
}

.footer-copy {
  color: var(--secondary-text-dark);
  font-size: .9rem;
}

.footer-copy > a {
  color: var(--text-black);
  font-weight: 700;
  text-decoration: underline;
}

/** Media queries **/

@media (width <= 1400px) {

  .main-content {
    max-width: 90%;
  }
}

@media (width <= 1100px) {
  .main-content {
    max-width: 100%;
  }

  .hidden-md {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 30px;
  }

  .btn-navbar-toggle {
    display: flex;
  }

  .nav-list {
    position: fixed;
    left: -10px; top: 50px;
    flex-direction: column;
    background-color: var(--primary-color);
    z-index: 20;
    width: 300px; height: 100vh;
    padding: 30px;
    transform: translateX(-100%);
    transition: transform .3s ease;
  }

  #btnNavbarToggle:checked + .nav-list {
    transform: translateX(0%);
  }

  .nav-item {
    width: 100%;
    border-bottom: 1px solid var(--primary-border-dark);
  }

  .user-avatar-xs {
    min-width: 30px; height: 30px;
    border-radius: 3px;
    display: flex;
  }

  .upload-btn > i { margin: 0; }
}

@media (width <= 980px) {
  .main-content {
    grid-template-columns: minmax(300px, 1fr) auto;
  }

  .aside-right {
    display: none;
  }
}

@media (width <= 650px) {
  .main-content {
    grid-template-columns: 100%;
  }

  .aside-left, .aside-right {
    display: none;
  }
}

@media (width <= 450px) {

  .nav-list {
    width: 100%;
  }

  .middle-col {
    padding: 70px 20px;
  }

  .search-group, .upload-btn {
    display: none;
  }

  .avatar-friend-container {
    min-width: 50px; height: 50px;
  }
}

